<div class="">
	<div class="flex-column creation-page">
		<div class="flex-row column-container col-xs-12">
			<div class="col-xs-6">
				<div class="page-header flex-row">
				  	<h2>Individual ValueChart</h2>
				</div>
				<form class="form-inline flex-row column-container">
					<div class="form-group">
						<button class="btn btn-default btn-lg" id="createValueChart">Some Button Group</button>
					</div>
				</form>
			</div>
			<div>
				<div class="vertical-divider"></div>
			</div>
			<div class="col-xs-6">
				<div class="page-header flex-row">
				  	<h2>Group ValueChart</h2>
				</div>
				<form class="form-inline flex-row column-container">
					<div class="form-group">
						<button class="btn btn-default btn-lg" id="createGroupValueChart">Some Other Button</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
