<div class="">
	<div class="flex-column creation-page">
		<div class="flex-row column-container col-xs-12">
			<div class="col-xs-6">
				<div class="page-header flex-row">
				  	<h2>Individual ValueChart</h2>
				</div>
				<form class="form-inline flex-row column-container">
					<div class="form-group">
						<a class="btn btn-default btn-lg" [routerLink]="['/buildObjectives']" id="createValueChart">Create ValueChart</a>
						 <a class="file-upload" href="javascript:void(0);" id="thumbnail-upload">
	                        <button class="btn btn-default btn-lg">
	                            Upload a ValueChart
	                        </button>
	                        <input type="file" class="upload" (change)="uploadValueChart($event)"/>
	                    </a>
					</div>
				</form>
			</div>
			<div>
				<div class="vertical-divider"></div>
			</div>
			<div class="col-xs-6">
				<div class="page-header flex-row">
				  	<h2>Group ValueChart</h2>
				</div>
				<form class="form-inline flex-row column-container">
					<div class="form-group">
						<a class="btn btn-default btn-lg" [routerLink]="['/buildObjectives']" id="createGroupValueChart">Create GroupValueChart</a>
						 <a class="file-upload" href="javascript:void(0);" id="thumbnail-upload">
	                        <button class="btn btn-default btn-lg">
	                            Upload a GroupValueChart
	                        </button>
	                        <input type="file" class="upload" (change)="uploadGroupValueChart($event)"/>
	                    </a>     
					</div>
				</form>
				<form class="form-inline flex-row column-container">
					 <a class="file-upload" href="javascript:void(0);" id="thumbnail-upload">
	                        <button class="btn btn-default btn-lg">
	                            Add User To Existing Chart
	                        </button>
	                        <input type="file" class="upload" (change)="addUserToExistingChart($event)"/>
	                 </a>
				</form>
			</div>
		</div>
	</div>
</div>
