<div class="">
	<div class="flex-column creation-page">
		<div class="flex-row">
			<form class="form-horizontal">
				<div class="form-group">
					<button class="btn btn-default btn-lg" id="createValueChart">Create ValueChart</button>
					<button class="btn btn-default btn-lg" id="createGroupValueChart">Create GroupValueChart</button>
					 <a class="file-upload" href="javascript:void(0);" id="thumbnail-upload">
                        <button class="btn btn-default">
                            UploadValueChart
                        </button>
                        <input type="file" class="upload" (change)="uploadValueChart($event)"/>
                    </a>
				</div>
			</form>
		</div>
	</div>
</div>
