<div class="">
	<div class="flex-column creation-page">
		<div class="flex-row column-container col-xs-12">
			<form class="form-inline flex-row column-container">
				<div class="form-group">
					<a class="btn btn-success btn-lg" [routerLink]="['/createValueChart','newChart']" id="createValueChart">
						Create a ValueChart
					</a>
					<a class="file-upload" href="javascript:void(0);" id="thumbnail-upload">
                        <button class="btn btn-success btn-lg">
                            Import a ValueChart
                        </button>
                        <input type="file" class="upload" (change)="goToValueChart($event)"/>
                    </a> 
                    <a class="file-upload" href="javascript:void(0);" id="thumbnail-upload">
	                    <button class="btn btn-success btn-lg">
	                         Add User To Existing Chart
	                    </button>
	                 	<input type="file" class="upload" (change)="addUserToExistingChart($event)"/>
                 	</a>
				</div>
			</form>
		</div>
		<div class="col-xs-offset-3 col-xs-6 demo-table">
			<h3 class="">Select a Demo ValueChart</h3>
			<div class="flex-row column-container well well-lg">
				<table class="table table-hover">
					<thead>
						<th></th>
						<th>ValueChart Name</th>
						<th>Type</th>
					</thead>
					<tbody>
						<tr *ngFor="let demoChart of demoValueCharts; let i = index ">
							<th score="row">{{i + 1}}</th>
							<td>{{demoChart.name}}</td>
							<td>{{demoChart.type}}</td>
							<td><button class="btn btn-sm btn-default" (click)="selectDemoValueChart(demoChart)">Select</button></td>
						</tr>
					</tbody>
		  		</table>
			</div>
		</div>
	</div>
</div>
