<div id="ValueChartView">
	<input type="color" id="primitiveObjective-color-picker">
	<div class="valuechart-toolbar">
		<form class="form-inline col-xs-12">
			<div class="form-group valuechart-toolbar-group pull-left">
				<button class="btn btn-default" (click)="editObjectiveModel()">
				Edit Structure
				</button>
			</div>
			<div class="form-group valuechart-toolbar-group pull-left">
				<button class="btn btn-default" (click)="editPreferenceModel()">
				Edit Preference Model
				</button>
			</div>
			<div *ngIf="currentUserService.isJoiningChart()">
				<div class="form-group valuechart-toolbar-group pull-left" >
					<button class="btn btn-success" (click)="submitPreferences()">
					Submit Preferences
					</button>
				</div>
			</div>
			<div *ngIf="!currentUserService.isJoiningChart()">
				<div class="form-group valuechart-toolbar-group pull-left" *ngIf="!hostService.hostWebSocket">
					<button class="btn btn-success" data-toggle="modal" data-target="#host-chart-modal">
					Host ValueChart
					</button>
				</div>
				<div class="form-group valuechart-toolbar-group pull-left" *ngIf="hostService.hostWebSocket">
					<div class="btn-group">
						<button type="button" class="btn btn-danger" (click)="hostService.endCurrentHosting()">Stop Hosting</button>
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li [class.disabled]="hostService.userChangesAccepted">
								<a href="javascript:void(0)" (click)="hostService.setUserChangesAccepted(true, valueChart._id)">
									Users Unlocked
									<span *ngIf="hostService.userChangesAccepted" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
								</a>
							</li>
							<li [class.disabled]="!hostService.userChangesAccepted">
								<a href="javascript:void(0)" (click)="hostService.setUserChangesAccepted(false, valueChart._id)">
									Users Locked
									<span *ngIf="!hostService.userChangesAccepted" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [class.disabled]="!chartUndoRedoService.canRedo()" (click)="redoChartChange()">
				Redo
				</button>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [class.disabled]="!chartUndoRedoService.canUndo()" (click)="undoChartChange()">
				Undo
				</button>
			</div>
			<div class="col-xs-1 pull-right"></div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown"  id="viewoptions-menu">
					<button class="btn btn-default dropdown-toggle" type="button" id="viewoptions-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					View Options
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="viewoptions-dropdown">
						<li class="dropdown dropdown-submenu">
							<a href="javascript:void(0)" id="orientation-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Chart Orientation
							</a>
							<ul class="dropdown-menu" aria-labelledby="orientation-dropdown">
								<li [class.disabled]="orientation === 'vertical'">
									<a href="javascript:void(0)" (click)="setOrientation('vertical')">
										Vertical
										<span *ngIf="orientation === 'vertical'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li [class.disabled]="orientation === 'horizontal'">
									<a href="javascript:void(0)" (click)="setOrientation('horizontal')">
										Horizontal
										<span *ngIf="orientation === 'horizontal'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayScoreFunctions(!displayScoreFunctions)">
								Utility Graphs
								<span *ngIf="displayScoreFunctions" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayDomainValues(!displayDomainValues)">
								Domain Values
								<span *ngIf="displayDomainValues" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayScales(!displayScales)">
								Utility Scale
								<span *ngIf="displayScales" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayTotalScores(!displayTotalScores)">
								Total Scores
								<span *ngIf="displayTotalScores" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayScoreFunctionValueLabels(!displayScoreFunctionValueLabels)">
								Score Labels
								<span *ngIf="displayScoreFunctionValueLabels" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown" id="alternatives-menu">
					<button class="btn btn-default dropdown-toggle" type="button" id="alternatives-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					Alternatives
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="alternatives-dropdown">
						<li class="dropdown dropdown-submenu">
							<a href="javascript:void(0)"
								type="button" id="alternative-sort-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Sort Alternatives
							</a>
							<ul class="dropdown-menu " aria-labelledby="alternative-sort-dropdown">
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives('objective')">
										Objective Score
										<span *ngIf="sortAlternatives === 'objective'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives('alphabet')">
										Alphabetically
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives('manual')">
										Manually
										<span *ngIf="sortAlternatives === 'manual'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives('reset')">
										Reset Order
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown" id="objectives-menu">
					<button class="btn btn-default dropdown-toggle" type="button" id="objectives-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					Objectives
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="objectives-dropdown">
						<li class="dropdown dropdown-submenu" *ngIf="valueChart.isIndividual()">
							<a href="javascript:void(0)" id="pump-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Pump Weights
							</a>
							<ul class="dropdown-menu" aria-labelledby="pump-dropdown">
								<li>
									<a href="javascript:void(0)" (click)="setPumpType('increase')">
										Inflate
										<span *ngIf="pumpWeights === 'increase'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="setPumpType('decrease')">
										Deflate
										<span *ngIf="pumpWeights === 'decrease'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li class="dropdown dropdown-submenu" *ngIf="valueChart.isIndividual()">
							<a href="javascript:void(0)" id="weightResizeType-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Weight Resize Strategy
							</a>
							<ul class="dropdown-menu" aria-labelledby="weightResizeType-dropdown">
								<li [class.disabled]="weightResizeType === RESIZE_NEIGHBOR">
									<a href="javascript:void(0)" (click)="setWeightResizeType(RESIZE_NEIGHBOR)">
										Adjacent Only
										<span *ngIf="weightResizeType === RESIZE_NEIGHBOR" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li [class.disabled]="weightResizeType === RESIZE_SIBLINGS">
									<a href="javascript:void(0)" (click)="setWeightResizeType(RESIZE_SIBLINGS)">
										All
										<span *ngIf="weightResizeType === RESIZE_SIBLINGS" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="toggleReorderObjectives(!reorderObjectives)">
								Reorder Objectives
								<span *ngIf="reorderObjectives" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="toggleSetObjectiveColors(!setObjectiveColors)">
								Set Objective Colors
								<span *ngIf="setObjectiveColors" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</div>
	<div id="detail-box" class="detail-box"
		[class.detail-box-horizontal]="orientation === 'horizontal'"
		[class.detail-box-vertical]="orientation === 'vertical'">
		<form class="form-inline col-xs-5" class="detail-toolbar">
			<div class="form-group valuechart-toolbar-group pull-left">
				<button class="btn btn-lg btn-default detail-box-tab" id="alternative-header-container"
				(click)="detailBoxCurrentTab = DETAIL_BOX_ALTERNATIVES_TAB" [class.active]="detailBoxCurrentTab === DETAIL_BOX_ALTERNATIVES_TAB">
				<h5 id="alternative-header">{{detailBoxAlternativeTab}}</h5>
				</button>
			</div>
			<div class="form-group valuechart-toolbar-group pull-left" *ngIf="!valueChart.isIndividual()">
				<button class="btn btn-lg btn-default detail-box-tab" id="user-list-header-container"
				(click)="detailBoxCurrentTab = DETAIL_BOX_USERS_TAB" [class.active]="detailBoxCurrentTab === DETAIL_BOX_USERS_TAB">
				<h5 id="user-list-headers">User List</h5>
				</button>
			</div>
		</form>
		<div class="well well-lg" id="alternative-detail-box"
			[style.height.px]="$('.' + summaryChartDefinitions.OUTLINE)[0].getBoundingClientRect().height + DETAIL_BOX_HEIGHT_OFFSET "
			[style.width.px]="$('.' + summaryChartDefinitions.OUTLINE)[0].getBoundingClientRect().width + DETAIL_BOX_WIDTH_OFFSET">
			<div *ngIf="detailBoxCurrentTab === DETAIL_BOX_ALTERNATIVES_TAB">
				<div *ngFor="let alternative of alternatives">
					<div class="col-sm-12">
						<a href="javascript:void(0)" (click)="expandAlternative(alternative)" *ngIf="detailBoxAlternativeTab === 'Alternatives'">
							{{alternative.getName()}}
						</a>
					</div>
					<div *ngIf="detailBoxAlternativeTab === alternative.getName()">
						<div *ngFor="let value of alternativeObjectiveValues; let i = index ">
							<div>
								<span class="col-xl-4 col-md-5"> <b>{{alternativeObjectives[i]}}</b></span>
								<span class="col-xl-8 col-md-7">{{value}}</span>
							</div>
						</div>
						<div>
							<span class="col-xl-4 col-md-5"><b>Description</b></span>
							<span class="col-xl-8 col-md-7">{{alternative.getDescription()}}</span>
						</div>
					</div>
				</div>
				<div *ngIf="detailBoxAlternativeTab !== 'Alternatives'">
					<button class="btn btn-default" (click)="collapseAlternative()">Back</button>
				</div>
			</div>
			<div *ngIf="detailBoxCurrentTab === DETAIL_BOX_USERS_TAB">
				<div *ngFor="let user of valueChart.getUsers(); let i = index ">
					<h5>
					{{user.getUsername()}}
					<span class="pull-right"><input type="color" value="{{renderConfigService.kellyColors[i]}}" (change)="setUserColor(user, $event.target.value)"></span>
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="valueChart">
		<ValueChart
		[data]="valueChart"
		[orientation]="orientation"
		[width]="valueChartWidth"
		[height]="valueChartHeight"
		[displayScoreFunctions]="displayScoreFunctions"
		[displayDomainValues]="displayDomainValues"
		[displayScales]="displayScales"
		[displayTotalScores]="displayTotalScores"
		[displayScoreFunctionValueLabels]="displayScoreFunctionValueLabels"
		[weightResizeType]="weightResizeType"
		[reorderObjectives]="reorderObjectives"
		[sortAlternatives]="sortAlternatives"
		[pumpWeights]="pumpWeights"
		[setObjectiveColors]="setObjectiveColors">
		</ValueChart>
	</div>
	<!-- Host ValueChart Modal Window Starts-->
	<div class="modal fade" id="host-chart-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="close-host-chart-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal-header">Host ValueChart</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<label for="chart-name-input" class="col-sm-4 col-sm-offset-1 control-label">Set ValueChart Name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" disabled="true" id="chart-name-input" placeholder="Name" [ngModel]="valueChart.getName()" name="name">
						</div>
					</div>
					<div class="row">
						<label for="chart-passsword-input" class="col-sm-4 col-sm-offset-1 control-label">Set ValueChart Password</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="chart-passsword-input" placeholder="Password" [(ngModel)]="valueChart.password" name="password">
						</div>
					</div>
					<div class="row">
						<label for="chart-passsword-input" class="col-sm-3 col-sm-offset-1 control-label">Invitation Link:</label>
						<h5 class="col-sm-offset-4">{{ window.location.origin + '/join/ValueCharts/' + valueChart.getName() + '?password=' + valueChart.password }}</h5> 
					</div>
					<div class="row">
						<div class="col-sm-offset-5 col-sm-7">
							<button type="submit" class="btn btn-success" (click)="hostValueChart(valueChart.getName(), valueChart.password)">Host ValueChart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Host ValueChart Modal Window Ends -->
</div>