<div>
	<div>
		<navbar class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header col-xs-2">
					<a class="navbar-brand" (click)="window.destination='/home'" [routerLink]="['/home']">ValueCharts</a>
				</div>
				<ul class="nav pull-right col-xs-10">
					<form class="form-inline center-form pull-right">
						<div class="form-group navbar-group" *ngIf="chartType === 'normal' && router.url.indexOf('view/') !== -1 && !valueChartService.isIndividual()">
							<a class="btn btn-default" (click)="viewAverageChart()" id="view-average-chart">
								View Average Chart
							</a>
						</div>
						<div class="form-group navbar-group" *ngIf="chartType === 'average' && router.url.indexOf('view/') !== -1">
							<a class="btn btn-default" (click)="viewGroupChart()" id="view-normal-chart">
								View Group Chart
							</a>
						</div>
						<div class="form-group navbar-group" *ngIf="router.url.indexOf('view/') !== -1">
							<ExportValueChart></ExportValueChart>
						</div>
						<div class="form-group navbar-group" *ngIf="router.url.indexOf('scoreFunction') !== -1">
							<a class="btn btn-default" (click)="switchScoreFunctionView()">
								{{ switchScoreFunctionViewText }}
							</a>
						</div>
						<div class="form-group navbar-group" *ngIf="currentUserService.isLoggedIn()">
							<a class="btn btn-default" (click)="window.destination='/myAccount'" [routerLink]="['/myAccount']" id="my-account">
								My Account
							</a>
						</div>
						<div class="form-group navbar-group" *ngIf="currentUserService.getUsername()">
							<a class="btn btn-warning" (click)="logout()" id="log-out">
								Log Out
							</a>
						</div>
					</form>
				</ul>
			</div>
		</navbar>
		<div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>