<h4>Add Objectives</h4>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th><div class="objectives-table-small-column">
            <div class="dropdown">
                <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" (click)="addNewChildObjRow('0', false)">Add Objective</a></li>
                    <li><a href="javascript:void(0)" (click)="addNewChildObjRow('0', true)">Add Objective Group</a></li>
                </ul>
            </div>
            </div></th>
            <th><div class="objectives-table-name-column">Name</div></th>
            <th><div class="objectives-table-description-column">Description</div></th>
            <th><div class="objectives-table-small-column">Color</div></th>
            <th><div class="objectives-table-dropdown-column">Domain Type</div></th>
            <th><div class="objectives-table-domaininfo-column">Domain Info</div></th>
            <th *ngIf="!valueChart.isIndividual()"><div class="objectives-table-small-column">Default Score Function</div></th>
            <th *ngIf="!valueChart.isIndividual()">
                <div class="objectives-table-small-column objectives-table-grid-row">
                    <div class="objectives-table-grid-cell"><input type="checkbox" [ngModel]="allImmutable()" (ngModelChange)="toggleAllImmutable()"/></div>
                    <div class="objectives-table-grid-cell">Admin Defined</div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let objID of getFlattenedObjectiveRows()">
            <th>
                <div [style.margin-left]="objectiveRows[objID].depth - 1 + 'cm'">
                <div *ngIf="objectiveRows[objID].type === 'abstract'" class="dropdown">
                    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" (click)="addNewChildObjRow(objID, false)">Add Sub-Objective</a></li>
                        <li><a href="javascript:void(0)" (click)="addNewChildObjRow(objID, true)">Add Sub-Group</a></li>
                        <li><a href="javascript:void(0)" (click)="deleteObjRow(objID)">Delete Group</a></li>
                    </ul>
                </div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <button type="button" class="btn btn-xs transparent-button" (click)="deleteObjRow(objID)">
                    <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                </div>
            </th>
            <th>
                <input class="form-control" type="text" [disabled]="objID === rootObjRowID" [(ngModel)]="objectiveRows[objID].name" (ngModelChange)="resetErrorMessages()"/>
            </th>
            <th>
                <textarea class="form-control objectives-table-textarea" rows="1" [(ngModel)]="objectiveRows[objID].desc"></textarea>
            </th>
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                <input type="color" [(ngModel)]="objectiveRows[objID].color">
                </div>
            </th> 
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <select class="form-control" #t [ngModel]="objectiveRows[objID].dom.type" (ngModelChange)="objectiveRows[objID].changeDomType(t.value); resetErrorMessages()">
                        <option [value]="'categorical'">categorical</option>
                        <option [value]="'continuous'">continuous</option>
                        <option [value]="'interval'">interval</option>
                    </select>
                </div>
            </th>
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive' 
                    && objectiveRows[objID].dom.type === 'categorical' ">
                    <div class="form-group">
                        <div class="form-group">
                            <SELECT class="form-control" [name]="'catlist' + objID" size="3" MULTIPLE READONLY>
                            <OPTION *ngFor="let opt of objectiveRows[objID].dom.elements">{{opt}}
                            </SELECT>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#categories-modal" (click)="selectedObjRow=objID; updateCategoryString()">{{objectiveRows[objID].dom.elements.length > 0 ? 'Edit' : 'Add'}}</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="objectiveRows[objID].type === 'primitive' 
                    && (objectiveRows[objID].dom.type === 'continuous' || objectiveRows[objID].dom.type === 'interval')">
                    <div class="objectives-table-grid">
                        <div class="objectives-table-grid-row">
                            <div class="objectives-table-grid-cell"><label class="control-label">min:</label></div>
                            <div class="objectives-table-grid-cell"><label class="control-label">max:</label></div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'continuous'" class="objectives-table-grid-cell"><label class="control-label">unit:</label></div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'interval'" class="objectives-table-grid-cell"><label class="control-label">interval:</label></div>
                        </div>
                        <div class="objectives-table-grid-row">
                            <div class="objectives-table-grid-cell">
                                <input class="form-control" type="text" #a pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.min" (ngModelChange)="objectiveRows[objID].dom.min = Number(a.value); objectiveRows[objID].initializeDefaultScoreFunction(false); resetErrorMessages()" maxlength="100" />
                            </div>
                            <div class="objectives-table-grid-cell">
                                <input class="form-control" type="text" #b pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.max" (ngModelChange)="objectiveRows[objID].dom.max = Number(b.value); objectiveRows[objID].initializeDefaultScoreFunction(false); resetErrorMessages()" maxlength="100" />
                            </div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'continuous'" class="objectives-table-grid-cell">
                                <input class="form-control" type="text" [(ngModel)]="objectiveRows[objID].dom.unit" maxlength="100" />  
                            </div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'interval'" class="objectives-table-grid-cell">
                                <input class="form-control" type="text" #c pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.interval" (ngModelChange)="objectiveRows[objID].dom.interval = Number(c.value); objectiveRows[objID].initializeDefaultScoreFunction(false); resetErrorMessages()" maxlength="100" />
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th *ngIf="!valueChart.isIndividual()">
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <div><button class="btn btn-sm btn-default" [ngClass]="{objectivestableboldbutton: objectiveRows[objID].defaultScoreFunctionModified && !disableEditDefaultScoreFunction(objID)}" [disabled]="disableEditDefaultScoreFunction(objID)" (click)="objectiveRows[objID].defaultScoreFunctionModified = false; selectedObjRow=objID; defaultScoreFunctionModalOpen=true" data-toggle="modal" data-target="#default-score-function-modal">Edit</button></div>
                </div>
            </th>
            <th *ngIf="!valueChart.isIndividual()">
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <div><input type="checkbox" [disabled]="disableEditDefaultScoreFunction(objID)" [(ngModel)]="objectiveRows[objID].defaultScoreFunction.immutable" (ngModelChange)="resetErrorMessages()"/></div>
                </div>
            </th>       
        </tr>                  
    </tbody>
</table>

<!-- Error Messages -->
<div *ngIf="validationTriggered">
    <div *ngFor="let message of errorMessages" 
                 class="alert alert-danger">
              {{message}}
    </div>
</div>

<!-- Categories Modal -->
<div class="modal fade" id="categories-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Categories</h4>
            </div>     
            <div class="modal-body">
                <form role="form">
                    <div><label class="control-label">Enter the categories, separated by commas.</label></div>
                    <div><textarea class="form-control" id="categories-input" name="categories-input" rows="3" [(ngModel)]="categoryString"></textarea></div>
                </form>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateCategories()" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Default Score Function Modal -->
<div class="modal fade" id="default-score-function-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="defaultScoreFunctionModalOpen=false; resetErrorMessages()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Default Score Function</h4>
            </div>     
            <div *ngIf="defaultScoreFunctionModalOpen" class="modal-body">
                <div class="input-group">
                    <select class="form-control score-function-dropdown" [(ngModel)]="objectiveRows[selectedObjRow].latestDefault" (ngModelChange)="objectiveRows[selectedObjRow].initializeDefaultScoreFunction(true)">
                        <option value="{{ScoreFunction.FLAT}}">Flat</option>
                        <option value="{{ScoreFunction.POSLIN}}">Positive Linear</option>
                        <option value="{{ScoreFunction.NEGLIN}}">Negative Linear</option>
                    </select>
                    <button type="button" class="btn btn-default" (click)="objectiveRows[selectedObjRow].initializeDefaultScoreFunction(true)">Reset</button>
                </div>
                <ScoreFunction 
                    [scoreFunctions]="[objectiveRows[selectedObjRow].defaultScoreFunction]"
                    [colors]="[objectiveRows[selectedObjRow].color]"
                    [objective]="objRowToObjective(objectiveRows[selectedObjRow])"
                    [width]="440"
                    [height]="300"
                    [viewOrientation]="ChartOrientation.Vertical"
                    [services]="services"
                    [individual]="true"
                    [enableInteraction]="true">
                <svg class="svg-content-createvaluechart" viewBox="0 0, 440, 300" preserveAspectRatio="xMinYMin meet">
                    <g class="expanded-score-function"></g>
                </svg>
                </ScoreFunction> 
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="defaultScoreFunctionModalOpen=false; resetErrorMessages()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

