/*
* @Author: aaronpmishkin
* @Date:   2016-05-04 12:24:53
* @Last Modified by:   MalakronikMausi
* @Last Modified time: 2018-02-15 12:40:02
*/

/* Global Styles */


.flex-column {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-row {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Navigation Bar Styles */

#valuecharts-navbar {
    background-color: #002145; 
    margin-bottom: 50;
    text-align: center;
}

/* fore-color of text within navbar-toggle items */
.navbar-toggle {
    color: #FFF;
}

.navbar-list {
    border-collapse: collapse;
    float: none !important;
    list-style-type: none;
    padding: 0;
    margin: 0 !important;
}

.navbar-button {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 13px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.navbar-button[disabled] {
    cursor: not-allowed !important;
    color: silver;
}

.navbar-bold {
    font-weight: bold;
}

.navbar-dropdown-option {
    margin: 0px !important;
}

.navbar-form {
    width:100%;
    height:60px;
}

/* Registration Page Styles */

.welcome-header {
	height: 10rem;
	top: 2rem;
}

.name-form-group {
	top: 20rem;
}

.registration-background {
	opacity: .3;
    overflow: hidden !important;
    z-index: -10;
    margin-bottom: -110rem;
}

#register-button {
	position: relative;
}

.navbar-group {
    margin-bottom: 0px !important;
}

.center-form {
    padding: 8px !important;
}

/* Home Page Styles */

a.upload {
    display: block;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.file-upload input.upload {
    position: absolute;
    top: -13px;
    height: 45px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.column-container {
    justify-content: space-around !important;
}

.creation-page {
	top: 8rem;
}

.vertical-divider {
    border-left:1px solid #909090; 
    border-right:1px solid #a2a2a2; 
    height: 200%;
    position: relative;
    top: 5rem;
}

.demo-table {
    top: 5rem;
}

.my-valuecharts-header {
    top: 7rem;
    position: relative;
}

.my-valuechart-memberships-header {
    top: 4rem;
    position: relative;
}

.my-account-header {
    top: 10rem;
    position: relative;
    height: 18rem;
}

#validate-message {
    white-space: pre-wrap;
}

/* Score Function Viewer Styles */

.score-function-viewer-container {
    position: relative;  
    z-index: 1;
}

.score-function-viewer {
    top: 10rem !important;
}

.score-function-title {
    position: relative;
    top: 5rem;
}

.dashed-line {
    stroke-dasharray: 3,3;
    stroke: black;
    stroke-width: 1px;
}

/* SVG */

.svg-content-valuechart {
    position: absolute;
    top: 14rem;
    left: 5%;
}

.svg-content-createvaluechart {
    position: relative;
    height: 30%;
    width: 70%;
    top: 1rem;
    left: 1%;
}

/* ValueChart Viewer Styles */

.valuechart-toolbar {
    position: relative;
    top: 3.5rem;
    z-index: 10;
}

.valuechart-toolbar-group {
    margin-bottom: 4rem !important;
}

.best-score-label {
    font-weight: bold;
    fill: red;
}

.utility-axis {
    fill: none;
    stroke-width: 1.5px;
    stroke: #000;
}

.detail-box {
    position: absolute !important;
    top: 8rem;
    margin-top: 10px;
    z-index: 9;
}

#alternative-detail-box {
    overflow-y: scroll;
}

.detail-box-navtabs {
    margin: 10px 10px -10px 10px;
}

.edit-buttons {
    position: absolute !important;
}

.remove-user {
    margin-top: 12px;
}

.toolbar-row {
    bottom: 3rem;
}

.alternative-link:hover {
    fill: #23527c !important;
    text-decoration: underline;
}

.users-list {
    top: 16rem;
}

.btn-xxs {
    font-size: 9px !important;
    padding: 0px 5px !important;
}

#lock-chart-checkbox {
    margin-left: 10px;
}

/* ValueChart SVG Styles */

.valuechart-outline {
    fill: white;
    stroke: grey;
    stroke-width: 1;   
}

.alternative-box {
    fill: rgba(255, 255, 255, 0);
    stroke: grey;
    stroke-width: 2;  
}

.valuechart-label-text {
    font-size: 18px;
    fill: black;
}

.valuechart-label-outline {
    stroke-width: 3;
}

.valuechart-label-divider {
    opacity: 0;
    stroke: black;
    stroke-width: 12;
} 

.scorefunction-fitline {
    stroke: black;
    stroke-width: 1;
}

.scorefunction-bar {
    fill: white;
    stroke-width: 1;
}

.objective-weight-outline {
    fill: transparent;
    stroke: red;
    stroke-width: 1px;
}

.summary-averageline {
    fill: transparent;
    stroke: #23b708;
    stroke-width: 3px;
}

.summary-scoretotal {
    font-size: 22px;
}

.summary-cell {
    stroke: white;
    stroke-width: 3px;
}

.objective-alternative-label {
    font-size: 22px;
}

.objective-domain-label {
    font-size: 20px;
}

.scorefunction-bartop {
    opacity: 0;
}

/* Override bootstrap default styles*/

input[type=color] {
    background: none;
    border: 0px;
}

body {
	/*overflow: hidden;*/
}

input {
	border-radius: 3px !important;
}

.btn {
    background-color: #E8E8E8;
    border-color: #BEBEBE;
    margin: 5px 5px !important;
}	

.btn-success {
	background-color: #2A692A !important;
	border-color: #2A692A !important;
}

.form-control {
	border: 2px solid #999  !important;
}

.row {
    margin-bottom: 1rem;
}

/* Multi-level dropdowns */

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* Creation workflow styles - Objectives and Alternatives */

.objectives-table-name-column {
    min-width: 150px;
    max-width: 250px;
}

.objectives-table-description-column {
    min-width: 150px;
    max-width: 250px;
}

.objectives-table-domaininfo-column {
    min-width: 175px;
    max-width: 250px;
}

.objectives-table-dropdown-column {
    min-width: 75px;
    max-width: 150px;
}

.objectives-table-small-column {
    min-width: 30px;
    max-width: 50px;
}

.objectives-table-grid {
    display: table;
    table-layout: fixed;
}

.objectives-table-grid-row {
    display: table-row;
}

.objectives-table-grid-cell {
    display: table-cell;
    padding-right: 5px;
}

.objectives-table-textarea {
    resize: vertical;
}

.objectivestableboldbutton {
    font-weight: bold !important;
    border-color: black !important;
}

#categories-input {
    width: 100%;
    resize: none;
}

.alternatives-table-name-column {
    min-width: 100px;
}

.alternatives-table-description-column {
    min-width: 50px;
}

.alternatives-table-outcome-column {
    min-width: 65px;
}

.transparent-button {
    background-color:transparent !important;
}

/* Creation workflow styles - Score Functions and Weights */

#score-function-controls {
    margin-left: 20px;
}

.score-function-select {
    width: 245px !important; 
    margin-right: 5px !important;
}

.immutable {
    color: #A9A9A9;
}

.unvisited {
    font-weight: bold;
}

#objective-description {
    margin-top: 20px;
}

.worst-outcome {
    background-color: #ffcccc;
}

.best-outcome {
    background-color: #ccffcc;
}
