<h4>Add Objectives</h4>
<input class="btn btn-default btn-lg pull-right" type="button" value="Delete" [disabled]="disableDelete()" (click)="deleteObjRow(selectedObjRow)" />
<input class="btn btn-default btn-lg pull-right" type="button" value="Add Child" [disabled]="disableAddChild()" (click)="addNewChildObjRow(selectedObjRow)" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Color</th>
            <th>Domain Type</th>
            <th>Domain Info</th>
            <th *ngIf="!valueChart.isIndividual()">Default Score Function</th>
            <th *ngIf="!valueChart.isIndividual()">
                <div class="objectivves-table-grid"><div class="objectives-table-row">
                    <div class="objectives-table-cell"><input type="checkbox" [ngModel]="allImmutable()" (ngModelChange)="toggleAllImmutable()"/></div>
                    <div class="objectives-table-cell">Admin Defined</div>
                </div></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let objID of getFlattenedObjectiveRows()" [ngClass]="{tablerowselected:objID === selectedObjRow}" class="clickable-row" (click)="selectedObjRow=objID">
            <th>
                <div [style.margin-left]="objectiveRows[objID].depth + 'cm'">
                <input class="form-control objectives-table-input" type="text" [disabled]="objID === rootObjRowID" [(ngModel)]="objectiveRows[objID].name" (ngModelChange)="resetErrorMessages()"/>
                </div>
            </th>
            <th>
                <textarea id="description-area" class="form-control objectives-table-input" rows="1" [disabled]="objID === rootObjRowID" [(ngModel)]="objectiveRows[objID].desc"></textarea>
            </th>
            <th>
                <select class="form-control objectives-table-dropdown" [(ngModel)]="objectiveRows[objID].type" [disabled]="objectiveRows[objID].children.length > 0" (ngModelChange)="setColor(objectiveRows[objID]); resetErrorMessages()">
                    <option [value]="'primitive'">base</option>
                    <option [value]="'abstract'">parent</option>
                </select>
            </th>
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <span class="pull-right"><input type="color" [(ngModel)]="objectiveRows[objID].color"></span>
                </div>
            </th> 
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'" class="objectives-table-dropdown">
                    <select class="form-control" [(ngModel)]="objectiveRows[objID].dom.type" (ngModelChange)="objectiveRows[objID].initializeDefaultScoreFunction(); resetErrorMessages()">
                        <option [value]="'categorical'">categorical</option>
                        <option [value]="'continuous'">continuous</option>
                        <option [value]="'interval'">interval</option>
                    </select>
                </div>
            </th>
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive' 
                    && objectiveRows[objID].dom.type === 'categorical' ">
                    <div class="form-group">
                        <div class="form-group">
                            <SELECT class="form-control" [name]="'catlist' + objID" size="3" MULTIPLE>
                            <OPTION *ngFor="let opt of objectiveRows[objID].dom.categories">{{opt}}
                            </SELECT>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#categories-modal">Add</button>
                            <button type="button" class="btn btn-sm btn-default" (click)="removeSelectedCategoriesMain(objID)">Delete</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="objectiveRows[objID].type === 'primitive' 
                    && (objectiveRows[objID].dom.type === 'continuous' || objectiveRows[objID].dom.type === 'interval')">
                    <div class="objectives-table-grid">
                        <div class="objectives-table-row">
                            <div class="objectives-table-cell"><label class="control-label">min:</label></div>
                            <div class="objectives-table-cell"><label class="control-label">max:</label></div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'continuous'" class="objectives-table-cell"><label class="control-label">unit:</label></div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'interval'" class="objectives-table-cell"><label class="control-label">interval:</label></div>
                        </div>
                        <div class="objectives-table-row">
                            <div class="objectives-table-cell">
                                <input  class="form-control" type="text" #a pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.min" (ngModelChange)="objectiveRows[objID].dom.min = toNumber(a.value); objectiveRows[objID].resetDefaultScoreFunction(); resetErrorMessages()" maxlength="100" />
                            </div>
                            <div class="objectives-table-cell">
                                <input  class="form-control" type="text" #b pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.max" (ngModelChange)="objectiveRows[objID].dom.max = toNumber(b.value); objectiveRows[objID].resetDefaultScoreFunction(); resetErrorMessages()" maxlength="100" />
                            </div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'continuous'" class="objectives-table-cell">
                                <input  class="form-control" type="text" [(ngModel)]="objectiveRows[objID].dom.unit" maxlength="100" />  
                            </div>
                            <div *ngIf="objectiveRows[objID].dom.type === 'interval'" class="objectives-table-cell">
                                <input  class="form-control" type="text" #c pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.interval" (ngModelChange)="objectiveRows[objID].dom.interval = toNumber(c.value); objectiveRows[objID].resetDefaultScoreFunction(); resetErrorMessages()" maxlength="100" />
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th *ngIf="!valueChart.isIndividual()">
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <div><button class="btn btn-sm btn-default" [disabled]="disableEditDefaultScoreFunction(objID)" (click)="selectedObjRow=objID; defaultScoreFunctionModalOpen=true" data-toggle="modal" data-target="#default-score-function-modal">Edit</button></div>
                </div>
            </th>
            <th *ngIf="!valueChart.isIndividual()">
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <div><input [disabled]="disableEditDefaultScoreFunction(objID)" [(ngModel)]="objectiveRows[objID].defaultScoreFunction.immutable" (ngModelChange)="resetErrorMessages()" type="checkbox"/></div>
                </div>
            </th>       
        </tr>                  
    </tbody>
</table>

<!-- Error Messages -->
<div *ngIf="validationTriggered">
    <div *ngFor="let message of errorMessages" 
                 class="alert alert-danger">
              {{message}}
    </div>
</div>

<!-- Categories Modal -->
<div class="modal fade" id="categories-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Categories</h4>
            </div>     
            <div class="modal-body">
                <form role="form">
                    <div class="input-group form-group">
                        <input class="form-control" [(ngModel)]="categoryToAdd" name="newcat" type="text" (keypress)="handleKeyPress($event.key)"/>
                        <button type="button" class="btn btn-default" (click)="addCategory()">>></button>
                    </div>
                    <div class="form-group">
                        <SELECT SIZE="8" class="form-control" name="catlistmodal" MULTIPLE>
                        <OPTION *ngFor="let cat of categoriesToAdd">{{cat}}
                        </SELECT>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" (click)="removeSelectedCategoriesModal()">Delete</button>
                    </div>
                </form>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addCategories()" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Default Score Function Modal -->
<div class="modal fade" id="default-score-function-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="defaultScoreFunctionModalOpen=false; resetErrorMessages()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Default Score Function</h4>
            </div>     
            <div *ngIf="defaultScoreFunctionModalOpen" class="modal-body">
                <div class="input-group">
                    <select class="form-control select-objective-control" id="default-function-dropdown" [(ngModel)]="objectiveRows[selectedObjRow].latestDefault" (ngModelChange)="objectiveRows[selectedObjRow].resetDefaultScoreFunction()">
                        <option value="{{ScoreFunction.FLAT}}">Flat</option>
                        <option value="{{ScoreFunction.POSLIN}}">Positive Linear</option>
                        <option value="{{ScoreFunction.NEGLIN}}">Negative Linear</option>
                    </select>
                    <button type="button" class="btn btn-default" (click)="objectiveRows[selectedObjRow].resetDefaultScoreFunction()">Reset</button>
                </div>
                <ScoreFunction 
                    [scoreFunctions]="[objectiveRows[selectedObjRow].defaultScoreFunction]"
                    [colors]="[objectiveRows[selectedObjRow].color]"
                    [objective]="objRowToObjective(objectiveRows[selectedObjRow])"
                    [width]="440"
                    [height]="300"
                    [viewOrientation]="ChartOrientation.Vertical"
                    [services]="services"
                    [individual]="true"
                    [enableInteraction]="true">
                <svg class="svg-content-createvaluechart" viewBox="0 0, 440, 300" preserveAspectRatio="xMinYMin meet">
                    <g class="expanded-score-function"></g>
                </svg>
                </ScoreFunction> 
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="defaultScoreFunctionModalOpen=false; resetErrorMessages()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

