<h4>Add Objectives</h4>
<input class="btn btn-default btn-lg pull-right" type="button" value="Delete" [disabled]="disableDelete()" (click)="deleteObjRow(selectedObjRow)" style="margin: 5px 10px;" />
<input class="btn btn-default btn-lg pull-right" type="button" value="Add Child" [disabled]="disableAddChild()" (click)="addNewChildObjRow(selectedObjRow)" style="margin: 5px 10px;" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Color</th>
            <th>Domain Type</th>
            <th>Domain Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let objID of getFlattenedObjectiveRows()" [ngClass]="{objrowselected:objID === selectedObjRow}" class="clickable-row" (click)="selectedObjRow=objID">
            <th>
                <div [style.margin-left]="objectiveRows[objID].depth + 'cm'">
                <input class="form-control" type="text" style="width: 200px" [disabled]="objID === rootObjRowID" [(ngModel)]="objectiveRows[objID].name"/>
                </div>
            </th>
            <th>
                <input class="form-control" type="text" style="width: 200px" [(ngModel)]="objectiveRows[objID].desc"/>
            </th>
            <th>
                <select class="form-control" [(ngModel)]="objectiveRows[objID].type" [disabled]="objectiveRows[objID].children.length > 0">
                    <option [value]="'abstract'">parent objective</option>
                    <option [value]="'primitive'">base objective</option>
                </select>
            </th>
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <select class="form-control" [(ngModel)]="objectiveRows[objID].color">
                        <option [value]="'red'">red</option>
                        <option [value]="'blue'">blue</option>
                        <option [value]="'green'">green</option>
                        <option [value]="'purple'">purple</option>
                        <option [value]="'orange'">orange</option>
                    </select>
                </div>
            </th> 
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive'">
                    <select class="form-control"[(ngModel)]="objectiveRows[objID].dom.type">
                        <option [value]="'categorical'">categorical</option>
                        <option [value]="'continuous'">continuous</option>
                        <option [value]="'interval'">interval</option>
                    </select>
                </div>
            </th>
            <th>
                <div *ngIf="objectiveRows[objID].type === 'abstract'">---</div>
                <div *ngIf="objectiveRows[objID].type === 'primitive' 
                    && objectiveRows[objID].dom.type === 'categorical' ">
                    <div class="form-group">
                        <div class="form-group">
                            <SELECT class="form-control" [name]="'catlist' + objID" size="3" style="width: 100px" MULTIPLE>
                            <OPTION *ngFor="let opt of objectiveRows[objID].dom.categories">{{opt}}
                            </SELECT>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-default" style="margin: 5px, width: 50px" data-toggle="modal" data-target="#myCategoryModal">
                                Add
                            </button>
                            <button type="button" class="btn btn-sm btn-default" style="margin: 5px, width: 50px" (click)="removeSelectedCategoriesMain(objID)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="objectiveRows[objID].type === 'primitive' 
                    && (objectiveRows[objID].dom.type === 'continuous' || objectiveRows[objID].dom.type === 'interval')">
                    <div style="display: table-row">
                        <div style="display: table-cell;"><label class="control-label">min:</label></div>
                        <div style="display: table-cell;"><label class="control-label">max:</label></div>
                        <div *ngIf="objectiveRows[objID].dom.type === 'continuous'" style="display: table-cell;"><label class="control-label">unit:</label></div>
                        <div *ngIf="objectiveRows[objID].dom.type === 'interval'" style="display: table-cell;"><label class="control-label">interval:</label></div>
                    </div>
                    <div style="display: table-row">
                        <div style="display: table-cell;width: 60px;padding-right: 5px;">
                            <input  class="form-control" type="text" #a pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.min" (ngModelChange)="objectiveRows[objID].dom.min = toNumber(a.value)" maxlength="100" />
                        </div>
                        <div style="display: table-cell;width: 60px;padding-right: 5px;">
                            <input  class="form-control" type="text" #b pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.max" (ngModelChange)="objectiveRows[objID].dom.max = toNumber(b.value)" maxlength="100" />
                        </div>
                        <div *ngIf="objectiveRows[objID].dom.type === 'continuous'" style="display: table-cell;width: 60px;padding-right: 5px;">
                            <input  class="form-control" type="text" [(ngModel)]="objectiveRows[objID].dom.unit" maxlength="100" />
                            
                        </div>
                        <div *ngIf="objectiveRows[objID].dom.type === 'interval'" style="display: table-cell;width: 60px;padding-right: 5px;">
                            <input  class="form-control" type="text" #c pattern= "[0-9]" [ngModel]="objectiveRows[objID].dom.interval" (ngModelChange)="objectiveRows[objID].dom.interval = toNumber(c.value)" maxlength="100" />
                        </div>
                    </div>
                </div>
            </th>         
        </tr>                             
    </tbody>
</table>
<div *ngIf="validationTriggered && !allHaveNames()" 
             class="alert alert-danger">
          Every Objective must have a name.
</div>
<div *ngIf="validationTriggered && allHaveNames() && !allNamesValid()" 
             class="alert alert-danger">
          Names may only contain alphanumeric characters, hyphens, underscores, and spaces.
</div>
<div *ngIf="validationTriggered && allHaveNames() && !allNamesUnique()" 
             class="alert alert-danger">
          All Objective names must be unique.
</div>
<div *ngIf="validationTriggered && !hasPrimitive()" 
             class="alert alert-danger">
          There must be at least one base Objective.
</div>
<div *ngIf="validationTriggered && hasPrimitive && !allAbstractHaveChildren()" 
             class="alert alert-danger">
          Every parent Objective must have at least one child.
</div>
<div *ngIf="validationTriggered && !categoryNamesValid()" 
             class="alert alert-danger">
          Category names may only contain alphanumeric characters.
</div>
<div *ngIf="validationTriggered && !categoryNamesUnique()" 
             class="alert alert-danger">
          Categorical domain elements must be unique.
</div>
<div *ngIf="validationTriggered && !atLeastTwoCategories()" 
             class="alert alert-danger">
          Categorical domains must have at least two categories.
</div>
<div *ngIf="validationTriggered && !continuousComplete()" 
             class="alert alert-danger">
          Continuous domains must have a min and a max.
</div>
<div *ngIf="validationTriggered && !intervalComplete()" 
             class="alert alert-danger">
          Interval domains must have a min, max, and interval.
</div>
<div *ngIf="validationTriggered && !minLessThanMax()" 
             class="alert alert-danger">
          Min must be less than max.
</div>
<div *ngIf="validationTriggered && intervalComplete() && !intervalOk()" 
             class="alert alert-danger">
          Interval must be greater than 0 and less than max - min.
</div>
<!-- Modal -->
<div class="modal fade" id="myCategoryModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add Categories
                </h4>
            </div>      
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="input-group form-group">
                        <input class="form-control" [(ngModel)]="categoryToAdd" name="newcat" style="width: 200px; margin-right: 5px" type="text" (keypress)="handleKeyPress($event.key)"/>
                        <button type="button" class="btn btn-default" (click)="addCategory()">
                                >>
                        </button>
                    </div>
                    <div class="form-group">
                        <SELECT SIZE="8" class="form-control" style="width: 250px" name="catlistmodal" MULTIPLE>
                        <OPTION *ngFor="let cat of categoriesToAdd">{{cat}}
                        </SELECT>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" (click)="removeSelectedCategoriesModal()">
                            Delete
                        </button>
                    </div>
                </form>
            </div>           
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addCategories() "data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
