<h4>Add Alternatives</h4>
<table class="table table-bordered">
    <thead>
      <tr>
        <th><button type="button" class="btn btn-xs btn-success" (click)="addEmptyAlternative()">
            <span class="glyphicon glyphicon-plus"></span>
        </button></th>
        <th><div class="alternatives-table-name-column">Name</div></th>
        <th><div class="alternatives-table-description-column">Description</div></th>
        <th *ngFor="let obj of valueChart.getAllPrimitiveObjectives()"><div class="alternatives-table-outcome-column">{{getColumnHeader(obj)}}</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let altID of altKeys()">
        <th>
           <button type="button" class="btn btn-xs transparent-button" (click)="deleteAlternative(altID)">
            <span class="glyphicon glyphicon-remove"></span>
            </button>
        </th>
        <th>
            <input class="form-control" type="text" #n [ngModel]="alternatives[altID].getName()" (ngModelChange)="alternatives[altID].setName(n.value); resetErrorMessages()"/>
        </th>
        <th>
            <input class="form-control" type="text" #d [ngModel]="alternatives[altID].getDescription()" (ngModelChange)="alternatives[altID].setDescription(d.value)"/>
        </th>
        <th *ngFor="let obj of valueChart.getAllPrimitiveObjectives()">
            <div *ngIf="obj.getDomain().type === 'categorical' || obj.getDomain().type === 'interval'">
                <select class="form-control" #t [ngModel]="alternatives[altID].getObjectiveValue(obj.getId())" (ngModelChange)="alternatives[altID].setObjectiveValue(obj.getId(), t.value); resetErrorMessages()">
                    <option *ngFor="let opt of obj.getDomain().getElements()" [value]="opt">{{opt}}</option>
                </select>
            </div>
            <div *ngIf="obj.getDomain().type === 'continuous'">
                <input class="form-control" type="text" pattern= "[0-9]" #m [ngModel]="alternatives[altID].getObjectiveValue(obj.getId())" (ngModelChange)="alternatives[altID].setObjectiveValue(obj.getId(),toNumber(m.value)); resetErrorMessages()"/>
            </div>   
        </th>
      </tr>
    </tbody>
</table>

<!-- Error Messages -->
<div *ngIf="validationTriggered">
    <div *ngFor="let message of errorMessages" 
                 class="alert alert-danger">
              {{message}}
    </div>
</div>