<label class="control-label">Chart name.</label>
<input class="form-control required" type="text" #a [ngModel]="valueChart.getName()" (ngModelChange)="valueChart.setName(a.value); resetErrorMessages()" maxlength="100" required />
<label class="control-label">Chart description.</label>
<input  class="form-control" type="text" #b [ngModel]="valueChart.getDescription()" (ngModelChange)="valueChart.setDescription(b.value)" maxlength="100" />
<label class="control-label">Password.</label>
<input class="form-control required" type="text" #c [ngModel]="valueChart.password" (ngModelChange)="valueChart.password = c.value; resetErrorMessages()"maxlength="100" required />
<div class="input-group">
<label class="control-label">What kind of chart would you like to create?</label>
<div class="radio">
<label><input type="radio" [(ngModel)]="type" [checked]="type === ChartType.Individual" [value]="ChartType.Individual" (click)="confirmConvert()">Individual ValueChart</label>
</div>
<div class="radio">
<label><input type="radio" [(ngModel)]="type" [checked]="type === ChartType.Group" [value]="ChartType.Group" (click)="this.valueChart.setType(ChartType.Group)">Group ValueChart</label>
</div>
</div>

<!-- Error Messages -->
<div *ngIf="validationTriggered">
    <div *ngFor="let message of errorMessages" 
                 class="alert alert-danger">
              {{message}}
    </div>
</div>

<div class="modal fade" id="convert-type-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-header">Convert to Individual Chart</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-11 col-sm-offset-1">
						<h3>Are you sure you want to convert this to an individual chart? Other users' data will be lost.</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-lg btn-success" (click)="convertToIndividual()" data-dismiss="modal">OK</button>
						<button type="submit" class="btn btn-lg btn-danger" (click)="type = ChartType.Group" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>