<label class="control-label">Chart name.</label>
<input class="form-control required" type="text" #a [ngModel]="valueChart.getName()" (ngModelChange)="valueChart.setName(a.value); resetErrorMessages()" maxlength="100" required />
<label class="control-label">Chart description.</label>
<input  class="form-control" type="text" #b [ngModel]="valueChart.getDescription()" (ngModelChange)="valueChart.setDescription(b.value)" maxlength="100" />
<label class="control-label">Password.</label>
<input class="form-control required" type="text" #c [ngModel]="valueChart.password" (ngModelChange)="valueChart.password = c.value; resetErrorMessages()"maxlength="100" required />

<!-- Error Messages -->
<div *ngIf="validationTriggered">
    <div *ngFor="let message of errorMessages" 
                 class="alert alert-danger">
              {{message}}
    </div>
</div>