<h4>Define Score Functions</h4>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <label class="control-label select-objective-control">Select Objective:</label>
            <div class="input-group">
                <select class="form-control select-objective-control" id="score-function-dropdown" [(ngModel)]="selectedObjective">
                    <option *ngFor="let obj of valueChartService.getPrimitiveObjectivesByName()" [value]="obj">{{obj}}</option>
                </select>
                <button type="button" class="btn btn-default" (click)="advanceSelectedObjective()">
                    Next
                </button>
            </div>
            <label class="control-label select-objective-control">Select Default:</label>
            <div class="input-group">
                <select class="form-control select-objective-control" id="default-function-dropdown" [(ngModel)]="latestDefaults[selectedObjective]" (ngModelChange)="resetScoreFunction()">
                    <option [value]="flat">Flat</option>
                    <option [value]="poslin">Positive Linear</option>
                    <option [value]="neglin">Negative Linear</option>
                </select>
                <button type="button" class="btn btn-default" [disabled]="!latestDefaults[selectedObjective]" (click)="resetScoreFunction()">Reset</button>
            </div>
            <body id="objective-description">{{valueChartService.getObjectiveByName(selectedObjective).getDescription()}}</body>
        </div> 
        <div class="col-xs-offset-3">
            <ScoreFunction 
                [scoreFunctions]="[user.getScoreFunctionMap().getObjectiveScoreFunction(selectedObjective)]"
                [colors]="[user.color]"
                [objective]="valueChartService.getObjectiveByName(selectedObjective)"
                [width]="440"
                [height]="300"
                [viewOrientation]="'vertical'"
                [services]="services"
                [individualOnly]="true"
                [enableInteraction]="true">
                <svg class="svg-content-createvaluechart" viewBox="0 0, 440, 300" preserveAspectRatio="xMinYMin meet">
                    <g class="expanded-score-function"></g>
                </svg>
            </ScoreFunction>  
        </div> 
    </div>
</div>

<!-- Error Messages -->
<div *ngIf="validationTriggered">
    <div *ngFor="let message of errorMessages" 
                 class="alert alert-danger">
              {{message}}
    </div>
</div>
