<h4>Define Score Functions</h4>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-3">
            <label class="control-label select-objective-control">Select Objective:</label>
            <div class="input-group">
                <select class="form-control select-objective-control" id="score-function-dropdown" [(ngModel)]="selectedObjective" name="selectedObjective">
                    <option *ngFor="let obj of valueChartService.getPrimitiveObjectivesByName()" [value]="obj">{{obj}}</option>
                </select>
                <button type="button" class="btn btn-default" (click)="advanceSelectedObjective()">
                    Next Objective
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <body id="objective-description">{{valueChartService.getObjectiveByName(selectedObjective).getDescription()}}</body>
        </div>
        <div class="col-xs-offset-3">
            <ScoreFunction 
                [objective]="valueChartService.getObjectiveByName(selectedObjective)"
                [width]="440"
                [height]="300"
                [orientation]="'vertical'"
                [services]="services"
                [individualOnly]="true">
                <svg class="svg-content-createvaluechart" viewBox="0 0, 440, 300" preserveAspectRatio="xMinYMin meet">
                    <g class="expanded-score-function"></g>
                </svg>
            </ScoreFunction>  
        </div>
    </div>
</div>
<div *ngIf="validationTriggered && badScoreFunctions.length > 0" 
             class="alert alert-danger">
          {{badScoreFunctionsText()}}
</div>
