<h4>Define Score Functions</h4>
<label class="control-label">Select Objective:</label>
<div class="input-group">
    <select class="form-control" style="width: 245px; margin-right: 5px" [(ngModel)]="selectedObjective" name="selectedObjective">
        <option *ngFor="let obj of valueChartService.getValueChart().getAllPrimitiveObjectivesByName()" [value]="obj">{{obj}}</option>
    </select>
    <button type="button" class="btn btn-default" (click)="advanceSelectedObjective()">
        Next
    </button>
</div>
<div>
    <ScoreFunction 
        [objective]="getObjective(selectedObjective)"
        [width]="300"
        [height]="300"
        [orientation]="'vertical'"
        [services]="services"
        [individualOnly]="true">
        <svg class="svg-content-createvaluechart" viewBox="0 0, 300, 300" preserveAspectRatio="xMinYMin meet">
            <g class="expanded-score-function"></g>
        </svg>
    </ScoreFunction>  
</div> 