<div class="">
	<div class="flex-column creation-page">
		<div class="flex-row column-container col-xs-12">
			<div class="col-xs-10">
                <div class="form-group">
                	<div *ngIf="step === creationStepsService.BASICS">
                        <label class="control-label">Chart name.</label>
                        <input  class="form-control" type="text" [(ngModel)]="valueChartName" maxlength="100" />
                        
                        <label class="control-label">Chart description.</label>
                        <textarea  maxlength="100" class="form-control" [(ngModel)]="valueChartDescription"></textarea>
                        <label><input type="checkbox" [(ngModel)]="isGroupValueChart" style="margin: 5px 10px;">Group ValueChart</label>
                    </div>
                    <div *ngIf="step === creationStepsService.OBJECTIVES">
                        <h4>Add Objectives</h4>
                    </div>
                    <div *ngIf="step === creationStepsService.ALTERNATIVES">
                        <h4>Add Alternatives</h4>
                        <input class="btn btn-default btn-lg pull-right" type="button" value="Delete" (click)="deleteAlternatives()" style="margin: 5px 10px;" />
                        <input class="btn btn-default btn-lg pull-right" type="button" value="Add Alternative" (click)="addEmptyAlternative()" style="margin: 5px 10px;" />
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th><input type="checkbox" [ngModel]="allSelected()" (ngModelChange)="toggleSelectAll()"/></th>
                                <th>Name</th>
                                <th>Description</th>
                                <th *ngFor="let obj of valueChart.getAllPrimitiveObjectives()">{{obj.getName()}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let altID of altKeys()">
                                <th>
                                    <input type="checkbox" #t [(ngModel)]="isSelected[altID]" />
                                </th>
                                <th>
                                    <input class="form-control" type="text" #n [ngModel]="alternatives[altID].getName()" (ngModelChange)="alternatives[altID].setName(n.value)"/>
                                </th>
                                <th>
                                    <input class="form-control" type="text" #d [ngModel]="alternatives[altID].getDescription()" (ngModelChange)="alternatives[altID].setDescription(d.value)"/>
                                </th>
                                <th *ngFor="let obj of valueChart.getAllPrimitiveObjectives()">
                                    <div *ngIf="obj.getDomain().type === 'categorical'">
                                        <select class="form-control" #t [ngModel]="alternatives[altID].getObjectiveValue(obj.getName())" (ngModelChange)="alternatives[altID].setObjectiveValue(obj.getName(), t.value)">
                                            <option *ngFor="let opt of obj.getDomain().getElements()" [value]="opt">{{opt}}</option>
                                        </select>
                                    </div>
                                    <div *ngIf="obj.getDomain().type === 'continuous'">
                                        {{alt.getName()}}
                                    </div>   
                                </th>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div *ngIf="step === creationStepsService.PREFERENCES">
                        <select class="form-control" [(ngModel)]="selectedObjective">
                            <option *ngFor="let obj of valueChartService.getPrimitiveObjectivesByName()" [value]="obj">{{obj}}</option>
                        </select>
                            <ScoreFunctionDirective
                                [objective]="valueChartService.getObjective(selectedObjective)">
                                <svg class="svg-content-responsive score-function-viewer" viewBox="0 -10, 300, 315" preserveAspectRatio="xMinYMin meet">
                                    <g class="expanded-score-function"></g>
                                </svg>
                            </ScoreFunctionDirective>              
                    </div>
                    <div *ngIf="step === creationStepsService.PRIORITIES">
                        <h4>Set Priorities</h4>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-success btn-lg pull-left" [routerLink]="['/create']" style="margin: 5px 10px;">Home</a>
                    <input class="btn btn-success btn-lg pull-left" type="button" value="<< Back" [disabled]="disableBackButton()" (click)="back()" style="margin: 5px 10px;" />
                    <input class="btn btn-success btn-lg pull-right" type="button" [value]="nextButtonText()" (click)="next()" style="margin: 5px 10px;"  />
                    <input class="btn btn-success btn-lg pull-right" type="button" value="Save To File" [disabled]="disableSaveButton()" (click)="save()" style="margin: 5px 10px;" />
                </div>

                <div class="form-group">

                </div>
            </div>
        </div>
    </div>
</div>