<div *ngIf="!loading" id="ValueChartView">
	<input type="color" id="primitiveObjective-color-picker">
	<div class="valuechart-toolbar">
		<form class="navbar-form col-xs-12" style="width:100%;height:60px;">
			<div class=" valuechart-toolbar-group pull-left dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chart Options
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li>
						<button class="btn btn-default" *ngIf="valueChartViewerService.isOwner()" (click)="editValueChart()">
							Edit ValueChart
						</button>
					</li>
					<li>
						<button class="btn btn-default" *ngIf="valueChartViewerService.isParticipant()" (click)="editPreferences()">
							Edit Preferences
						</button>
					</li>
					<li>
						<ExportValueChart></ExportValueChart>
					</li>
					<li>
						<button class="btn btn-danger" *ngIf="valueChartViewerService.isOwner() && !valueChartService.getValueChart().isIndividual() && !valueChartService.getStatus().lockedByCreator" (click)="setUserChangesAccepted(false)">
							Lock Chart
						</button>
					</li>
					<li>
						<button class="btn btn-danger" *ngIf="valueChartViewerService.isOwner() && !valueChartService.getValueChart().isIndividual() && valueChartService.getStatus().lockedByCreator" (click)="setUserChangesAccepted(false)">
							Unlock Chart
						</button>
					</li>
					<li>
						<button class="btn btn-primary" *ngIf="canViewGroupChart() && alueChartViewerService.getActiveValueChart().getType() === ChartType.Group" (click)="setValueChartTypeToView(ChartType.Individual)">
							View Individual Chart
						</button>
					</li>
					<li>
						<button class="btn btn-primary" *ngIf="canViewGroupChart() && valueChartViewerService.getActiveValueChart().getType() === ChartType.Individual" (click)="setValueChartTypeToView(ChartType.Group)">
							View Group Chart
						</button>
					</li>
					<li>
						<button class="btn btn-success" *ngIf="canSave()" (click)="save()" [disabled]="!valueChartViewerService.isChartEdited() && !valueChartViewerService.isOwner() && _.isEqual(userGuard.getUserRecord(), valueChartService.getValueChart().getUser(currentUserService.getUsername()))">
							Save
						</button>
					</li>
				</ul>
			</div>
			<div class=" valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [disabled]="undoRedoService && !undoRedoService.canRedo()" (click)="redoChartChange()">
				Redo
				</button>
			</div>
			<div class=" valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [disabled]="undoRedoService && !undoRedoService.canUndo()" (click)="undoChartChange()">
				Undo
				</button>
			</div>
			<ViewOptions [chartType]="valueChartViewerService.getActiveValueChart().getType()" (viewConfig)="updateView($event)"></ViewOptions>
			<InteractionOptions [interactive]="canInteract()" (interactionConfig)="updateInteractions($event)"></InteractionOptions>
		</form>
	</div>
		<div>
			<ValueChart
			[valueChart]="valueChartViewerService.getActiveValueChart()"
			[width]="valueChartWidth"
			[height]="valueChartHeight"
			[viewConfig]="viewConfig"
			[interactionConfig]="interactionConfig"
			[usersToDisplay]="usersToDisplay"
			(chartElement)="updateChartElement($event)"
			(undoRedo)="updateUndoRedo($event)"
			(renderEvents)="updateRenderEvents($event)">
			</ValueChart>
		</div>
		<div>
			<DetailBox 
			[valueChart]="valueChartViewerService.getActiveValueChart()"
			[enableManagement]="valueChartViewerService.isOwner()" 
			[showUsers]="!valueChartService.getValueChart().isIndividual()"
			[viewConfig]="viewConfig" 
			[height]="valueChartHeight / 4" 
			[width]="valueChartWidth / 3.1"
			[renderEventsService]="renderEvents"
			[chartElement]="chartElement">
			</DetailBox>
		</div>
	</div>
	<NotificationModal
	[display]="validationMessage.length > 0"
	[title]="'Invalid Users'"
	[body]="validationMessage">
	</NotificationModal>