<style>
	/**
	* clear floated menu items when collapsed
	*/
	@media screen and (max-width: 767px) {
		.clear-collapse{
			clear: both;
		}
		.collapse-hidden{
			display: none;
		}
	}

	@media screen and (min-width: 768px){
		.navbar-collapse.collapse.uncollapse-hidden{
			display: none!important;
		}
	}

	/**
	* set the fore-color of text within navbar-toggle items
	*/
	.navbar-toggle {
		color: #FFF;
	}
</style>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #002145; margin-bottom: 50;">
	<div class="flex-row column-container col-xs-12">
	</div>
	<div class="container-fluid" id="navfluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-left"><img height="90" width="90" src="client/images/Logo.svg"></a>
				<h1 style="color: white" class="navbar-brand" [routerLink]="['/home']">ValueCharts</h1>
		</div>
		<div class="collapse navbar-collapse" id="navigationbar">
			<ul class="nav navbar-nav" style="	border-collapse: collapse;
												text-align: left;
												list-style-type: none;
												padding: 0;
												margin : 0 !important">
				<li role="presentation" style="padding-top:20px !important; padding-bottom:13px !important; ">
					<a style="color: white" *ngIf="router.url.indexOf('scoreFunction') !== -1" (click)="switchScoreFunctionView()">{{ switchScoreFunctionViewText }}</a>
				</li>
				<!--
				<li role="presentation" style="padding-top:20px !important; padding-bottom:13px !important;">
					<a style="color: white" *ngIf="currentUserService.isLoggedIn()" id="my-valuecharts-button" [routerLink]="['/myValueCharts']">My ValueCharts</a>
				</li>
				<li role="presentation" style="padding-top:20px !important; padding-bottom:13px !important;">
					<a style="color: white" *ngIf="currentUserService.isLoggedIn()" id="my-account" [routerLink]="['/myAccount']">My Account</a>
				</li>
				-->
				<li role="presentation" style="padding-top:20px !important; padding-bottom:13px !important;">
					<a style="color: white" *ngIf="currentUserService.isLoggedIn()" id="log-out" href="/logout">Log Out</a>
				</li>
				<li role="presentation" style="padding-top:20px !important; padding-bottom:13px !important;">
					<a style="color: white" *ngIf="!currentUserService.isLoggedIn()" href="/register">Login Page</a>
				</li>
				<!--
				<li role="presentation" style="padding-top:20px !important; padding-bottom:13px !important;">
					<a style="color: white" *ngIf="currentUserService.isLoggedIn()" (click)="createValueChart()" id="createValueChart">
						Create a ValueChart
					</a>
				</li>
				-->
				<li class="dropdown" *ngIf="currentUserService.isLoggedIn()" role="presentation" style="padding-top:20px !important; padding-bottom:13px !important;">
					<a class="dropdown-toggle" style="color: white; margin-right: 5px;" href="#" data-toggle="dropdown">Create Value Chart<b class="caret"></b></a>
					<ul class="dropdown-menu">
							<li>
								<a (click)="createValueChart()" href="javascript:void(0);" id="createValueChart">
									Create a ValueChart
								</a>
							</li>
							<li>
								<a class="file-upload"  style="margin-left: 0px;" href="javascript:void(0);" id="thumbnail-upload">
									Import a ValueChart
									<input name="file-to-upload" type="file" class="upload" (change)="uploadValueChart($event)"/>
								</a>
							</li>
					</ul>
				</li>
				<li class="dropdown" role="presentation" *ngIf="currentUserService.isLoggedIn()" style="padding-top:20px !important; padding-bottom:13px !important;">
					<a class="dropdown-toggle" style="color: white; margin-right: 5px;" href="#" data-toggle="dropdown">Existing ValueCharts<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a (click)="isJoining = true" data-toggle="modal" data-target="#chart-credentials-modal">
								Join Existing ValueChart
							</a>
						</li>
						<li>
							<a (click)="isJoining = false" data-toggle="modal" data-target="#chart-credentials-modal">
								View Existing ValueChart
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
		<div class="navbar-collapse uncollapse-hidden collapse" *ngIf="currentUserService.isLoggedIn()" id="LanguageMenu" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
					<li><a (click)="createValueChart()" id="createValueChart">New Chart</a></li>
					<li><a href="javascript:void(0);" id="thumbnail-upload">Import Chart</a></li>
			</ul>
		</div>
		<div class="navbar-collapse uncollapse-hidden collapse" id="LanguageMenu" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
					<li><a (click)="createValueChart()" id="createValueChart">Join</a></li>
					<li><a href="javascript:void(0);" id="thumbnail-upload">View</a></li>
			</ul>
		</div>
	</div><!-- /.container-fluid -->
</nav>

<div class="flex-row column-container col-xs-12">
	<form class="form-inline flex-row column-container">
		<div class="form-group">
			<div class="modal fade" id="chart-credentials-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="close-chart-credentials-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modal-header">{{getModalTitle()}}</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="row">
									<label for="chart-name-input" class="col-sm-3 col-sm-offset-2 control-label">ValueChart Name</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="chart-name-input" placeholder="Name" [(ngModel)]="valueChartName" name="valueChartName">
									</div>
								</div>
								<div class="row">
									<label for="chart-passsword-input" class="col-sm-3 col-sm-offset-2 control-label">Password</label>
									<div class="col-sm-6">
										<input class="form-control" id="chart-passsword-input" placeholder="Password" [(ngModel)]="valueChartPassword" name="valueChartName">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-offset-5 col-sm-7">
										<button id="continue-button" type="submit" class="btn btn-success" (click)="handleModalInputs(valueChartName, valueChartPassword)">Continue</button>
									</div>
								</div>
								<div class="row">
									<div [hidden]="!invalidCredentials" class="alert alert-danger">
										<span class="col-sm-offset-4">Invalid Name or Password</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<br style="display: none">
<br>
<br style="display: none">
<br>

<NotificationModal
[display]="displayModal"
[title]="modalTitle"
[body]="modalBody"
[actionEnabled]="modalActionEnabled"
[noActionText]="'Cancel'"
[actionText]="'Ok'"
[actionFunction]="modalActionFunction"
(modalClosed)="displayModal = $event">
</NotificationModal>

<div>
	<router-outlet></router-outlet>
</div>