<div id="ValueChartView">
	<input type="color" id="primitiveObjective-color-picker">
	<div class="valuechart-toolbar">
		<form class="form-inline col-xs-12">
			<div class="form-group valuechart-toolbar-group pull-left">
				<a class="btn btn-default" *ngIf="valueChart.isIndividual() && !currentUserService.isJoiningChart() && chartType === 'normal'" [routerLink]="['/createValueChart/editChart/BasicInfo']">
				Edit ValueChart
				</a>
			</div>
			<div class="form-group valuechart-toolbar-group pull-left" >
				<a class="btn btn-default" *ngIf="currentUserService.isJoiningChart()" [routerLink]="['/createValueChart/editPreferences/ScoreFunctions']">
				Edit Preferences
				</a>
			</div>
			<div class="form-group valuechart-toolbar-group pull-left">
					<ExportValueChart></ExportValueChart>
			</div>
			<div *ngIf="currentUserService.isJoiningChart()">
				<div class="form-group valuechart-toolbar-group pull-left" >
					<button class="btn btn-success" (click)="submitPreferences()">
					Submit Preferences
					</button>
				</div>
			</div>
			<div *ngIf="!currentUserService.isJoiningChart()">
				<div class="form-group valuechart-toolbar-group pull-left" *ngIf="hostService.userChangesAccepted">
					<button class="btn btn-danger" (click)="hostService.setUserChangesAccepted(false, valueChart._id)">
					Lock Chart
					</button>
				</div>
				<div class="form-group valuechart-toolbar-group pull-left" *ngIf="!hostService.userChangesAccepted">
					<button class="btn btn-success" (click)="hostService.setUserChangesAccepted(true, valueChart._id)">
					Unlock Chart
					</button>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [class.disabled]="!chartUndoRedoService.canRedo()" (click)="redoChartChange()">
				Redo
				</button>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [class.disabled]="!chartUndoRedoService.canUndo()" (click)="undoChartChange()">
				Undo
				</button>
			</div>
			<div class="col-xs-1 pull-right"></div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown"  id="viewoptions-menu">
					<button class="btn btn-default dropdown-toggle" type="button" id="viewoptions-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					View Options
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="viewoptions-dropdown">
						<li class="dropdown dropdown-submenu">
							<a href="javascript:void(0)" id="orientation-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Chart Orientation
							</a>
							<ul class="dropdown-menu" aria-labelledby="orientation-dropdown">
								<li [class.disabled]="orientation === 'vertical'">
									<a href="javascript:void(0)" (click)="setOrientation('vertical')">
										Vertical
										<span *ngIf="orientation === 'vertical'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li [class.disabled]="orientation === 'horizontal'">
									<a href="javascript:void(0)" (click)="setOrientation('horizontal')">
										Horizontal
										<span *ngIf="orientation === 'horizontal'" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayScoreFunctions(!displayScoreFunctions)">
								Utility Graphs
								<span *ngIf="displayScoreFunctions" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayDomainValues(!displayDomainValues)">
								Domain Values
								<span *ngIf="displayDomainValues" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayScales(!displayScales)">
								Utility Scale
								<span *ngIf="displayScales" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayTotalScores(!displayTotalScores)">
								Total Scores
								<span *ngIf="displayTotalScores" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="setDisplayScoreFunctionValueLabels(!displayScoreFunctionValueLabels)">
								Score Labels
								<span *ngIf="displayScoreFunctionValueLabels" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown" id="alternatives-menu">
					<button class="btn btn-default dropdown-toggle" type="button" id="alternatives-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					Alternatives
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="alternatives-dropdown">
						<li class="dropdown dropdown-submenu">
							<a href="javascript:void(0)"
								type="button" id="alternative-sort-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Sort Alternatives
							</a>
							<ul class="dropdown-menu " aria-labelledby="alternative-sort-dropdown">
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(ALTERNATIVE_SORT_OBJECTIVE)">
										Objective Score
										<span *ngIf="sortAlternatives === ALTERNATIVE_SORT_OBJECTIVE" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(ALTERNATIVE_SORT_ALPHABET)">
										Alphabetically
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(ALTERNATIVE_SORT_MANUAL)">
										Manually
										<span *ngIf="sortAlternatives === ALTERNATIVE_SORT_MANUAL" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(ALTERNATIVE_SORT_RESET)">
										Reset Order
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown" id="objectives-menu">
					<button class="btn btn-default dropdown-toggle" type="button" id="objectives-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					Objectives
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="objectives-dropdown">
						<li class="dropdown dropdown-submenu" *ngIf="valueChart.isIndividual()">
							<a href="javascript:void(0)" id="pump-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Pump Weights
							</a>
							<ul class="dropdown-menu" aria-labelledby="pump-dropdown">
								<li>
									<a href="javascript:void(0)" (click)="setPumpType(PUMP_INCREASE)">
										Inflate
										<span *ngIf="pumpWeights === PUMP_INCREASE" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="setPumpType(PUMP_DECREASE)">
										Deflate
										<span *ngIf="pumpWeights === PUMP_DECREASE" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li class="dropdown dropdown-submenu" *ngIf="valueChart.isIndividual()">
							<a href="javascript:void(0)" id="weightResizeType-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Weight Resize Strategy
							</a>
							<ul class="dropdown-menu" aria-labelledby="weightResizeType-dropdown">
								<li [class.disabled]="weightResizeType === RESIZE_NEIGHBOR">
									<a href="javascript:void(0)" (click)="setWeightResizeType(RESIZE_NEIGHBOR)">
										Adjacent Only
										<span *ngIf="weightResizeType === RESIZE_NEIGHBOR" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li [class.disabled]="weightResizeType === RESIZE_SIBLINGS">
									<a href="javascript:void(0)" (click)="setWeightResizeType(RESIZE_SIBLINGS)">
										All
										<span *ngIf="weightResizeType === RESIZE_SIBLINGS" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="toggleReorderObjectives(!reorderObjectives)">
								Reorder Objectives
								<span *ngIf="reorderObjectives" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="toggleSetObjectiveColors(!setObjectiveColors)">
								Set Objective Colors
								<span *ngIf="setObjectiveColors" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right" *ngIf="chartType === 'normal' && !valueChart.isIndividual()">
				<a class="btn btn-default" (click)="viewAverageChart()" id="view-average-chart">
					View Average Chart
				</a>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right" *ngIf="chartType === 'average'">
				<a class="btn btn-default" (click)="viewGroupChart()" id="view-normal-chart">
					View Group Chart
				</a>
			</div>
		</form>
	</div>
	<div id="detail-box" class="detail-box"
		[class.detail-box-horizontal]="orientation === 'horizontal'"
		[class.detail-box-vertical]="orientation === 'vertical'">
		<form class="form-inline col-xs-5" class="detail-toolbar">
			<div class="form-group valuechart-toolbar-group pull-left">
				<button class="btn btn-lg btn-default detail-box-tab detail-box-header" id="chart-information-header-container"
				(click)="detailBoxCurrentTab = DETAIL_BOX_CHART_TAB" [class.active]="detailBoxCurrentTab === DETAIL_BOX_CHART_TAB">
				<h5 id="alternative-header">Chart Details</h5>
				</button>
			</div>
			<div class="form-group valuechart-toolbar-group pull-left">
				<button class="btn btn-lg btn-default detail-box-tab detail-box-header" id="alternative-header-container"
				(click)="detailBoxCurrentTab = DETAIL_BOX_ALTERNATIVES_TAB" [class.active]="detailBoxCurrentTab === DETAIL_BOX_ALTERNATIVES_TAB">
				<h5 id="alternative-header">{{detailBoxAlternativeTab}}</h5>
				</button>
			</div>
			<div class="form-group valuechart-toolbar-group pull-left" *ngIf="!valueChart.isIndividual()">
				<button class="btn btn-lg btn-default detail-box-tab detail-box-header" id="user-list-header-container"
				(click)="detailBoxCurrentTab = DETAIL_BOX_USERS_TAB" [class.active]="detailBoxCurrentTab === DETAIL_BOX_USERS_TAB">
				<h5 id="user-list-headers">User List</h5>
				</button>
			</div>
		</form>
		<div class="well well-lg" id="alternative-detail-box"
			[style.height.px]="$('.' + summaryChartDefinitions.OUTLINE)[0].getBoundingClientRect().height + DETAIL_BOX_HEIGHT_OFFSET "
			[style.width.px]="$('.' + summaryChartDefinitions.OUTLINE)[0].getBoundingClientRect().width + DETAIL_BOX_WIDTH_OFFSET">
			<div *ngIf="detailBoxCurrentTab === DETAIL_BOX_CHART_TAB">
				<div>
					<span class="col-xl-4 col-md-5"><b>Name:</b></span>
					<span class="col-xl-8 col-md-7">{{valueChart.getName()}}</span>
				</div>
				<div>
					<span class="col-xl-4 col-md-5"><b>Password:</b></span>
					<span class="col-xl-8 col-md-7">{{valueChart.password}}</span>
				</div>
				<div *ngIf="!currentUserService.isJoiningChart()">
					<span class="col-xl-4 col-md-5"><b>Invitation Link:</b></span>
					<span class="col-xl-8 col-md-7">{{ getValueChartUrl() }}</span>
				</div>
			</div>
			<div *ngIf="detailBoxCurrentTab === DETAIL_BOX_ALTERNATIVES_TAB">
				<div *ngFor="let alternative of alternatives">
					<div class="col-sm-12">
						<a href="javascript:void(0)" (click)="expandAlternative(alternative)" *ngIf="detailBoxAlternativeTab === 'Alternatives'">
							{{alternative.getName()}}
						</a>
					</div>
					<div *ngIf="detailBoxAlternativeTab === alternative.getName()">
						<div *ngFor="let value of alternativeObjectiveValues; let i = index ">
							<div>
								<span class="col-xl-4 col-md-5"> <b>{{alternativeObjectives[i]}}</b></span>
								<span class="col-xl-8 col-md-7">{{value}}</span>
							</div>
						</div>
						<div>
							<span class="col-xl-4 col-md-5"><b>Description</b></span>
							<span class="col-xl-8 col-md-7">{{alternative.getDescription()}}</span>
						</div>
					</div>
				</div>
				<div *ngIf="detailBoxAlternativeTab !== 'Alternatives'">
					<button class="btn btn-default" (click)="collapseAlternative()">Back</button>
				</div>
			</div>
			<div *ngIf="detailBoxCurrentTab === DETAIL_BOX_USERS_TAB">
				<div *ngFor="let user of valueChart.getUsers(); let i = index ">
					<h5>
					{{user.getUsername()}}
					<span class="pull-right"><input type="color" value="{{user.color}}" (change)="setUserColor(user, $event.target.value)"></span>
					<button class="pull-right btn btn-danger btn-xs btn-xxs" *ngIf="user.getUsername() !== currentUserService.getUsername()" (click)="removeUser(user)">Remove</button>
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div >
		<ValueChart
		[data]="valueChart"
		[orientation]="orientation"
		[width]="valueChartWidth"
		[height]="valueChartHeight"
		[displayScoreFunctions]="displayScoreFunctions"
		[displayDomainValues]="displayDomainValues"
		[displayScales]="displayScales"
		[displayTotalScores]="displayTotalScores"
		[displayScoreFunctionValueLabels]="displayScoreFunctionValueLabels"
		[weightResizeType]="weightResizeType"
		[reorderObjectives]="reorderObjectives"
		[sortAlternatives]="sortAlternatives"
		[pumpWeights]="pumpWeights"
		[setObjectiveColors]="setObjectiveColors">
		</ValueChart>
	</div>
</div>