<div id="ValueChartView">
	<input type="color" id="primitiveObjective-color-picker">
	<div class="valuechart-toolbar">
		<form class="form-inline col-xs-12">
			<div class="form-group valuechart-toolbar-group pull-left">
				<a class="btn btn-default" *ngIf="enableManagement()" [routerLink]="['/createValueChart/editChart/BasicInfo']">
				Edit ValueChart
				</a>
			</div>
			<div class="form-group valuechart-toolbar-group pull-left" >
				<a class="btn btn-default" *ngIf="enableEditPreferences()" [routerLink]="['/createValueChart/editPreferences/ScoreFunctions']">
				Edit Preferences
				</a>
			</div>
			<div *ngIf="enableManagement()" class="form-group valuechart-toolbar-group pull-left">
					<ExportValueChart></ExportValueChart>
			</div>
			<div *ngIf="currentUserService.isJoiningChart()">
				<div class="form-group valuechart-toolbar-group pull-left" >
					<button class="btn btn-success" (click)="submitPreferences()">
					Submit Preferences
					</button>
				</div>
			</div>
			<div *ngIf="enableManagement()">
				<div class="form-group valuechart-toolbar-group pull-left" *ngIf="hostService.userChangesAccepted">
					<button class="btn btn-danger" (click)="hostService.setUserChangesAccepted(false, valueChart._id)">
					Lock Chart
					</button>
				</div>
				<div class="form-group valuechart-toolbar-group pull-left" *ngIf="!hostService.userChangesAccepted">
					<button class="btn btn-success" (click)="hostService.setUserChangesAccepted(true, valueChart._id)">
					Unlock Chart
					</button>
				</div>
			</div>
			<div *ngIf="!currentUserService.isJoiningChart() && enableInteraction()">
				<div class="form-group valuechart-toolbar-group pull-left" >
					<button class="btn btn-success" (click)="saveChart()">
					Save Chart
					</button>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [class.disabled]="undoRedoService && !undoRedoService.canRedo()" (click)="redoChartChange()">
				Redo
				</button>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<button class="btn btn-default" [class.disabled]="undoRedoService && !undoRedoService.canUndo()" (click)="undoChartChange()">
				Undo
				</button>
			</div>
			<div class="col-xs-1 pull-right"></div>
			<ViewOptions [chartType]="(this.valueChartService.isIndividual() ? 'individual' : 'group')" (viewConfig)="updateView($event)"></ViewOptions>
			<InteractionOptions [chartType]="(this.enableInteraction() ? 'interactive' : 'static')" (interactionConfig)="updateInteractions($event)"></InteractionOptions>
		</form>
	</div>
	<DetailBox 
	[valueChart]="valueChart" 
	[enableManagement]="enableManagement()" 
	[viewConfig]="viewConfig" 
	[height]="valueChartHeight / 4" 
	[width]="valueChartWidth / 3"
	[renderEventsService]="renderEvents"
	[chartElement]="chartElement">
	</DetailBox>
	<div>
		<ValueChart
		[valueChart]="valueChart"
		[width]="valueChartWidth"
		[height]="valueChartHeight"
		[viewConfig]="viewConfig"
		[interactionConfig]="interactionConfig"
		(chartElement)="updateChartElement($event)"
		(undoRedo)="updateUndoRedo($event)"
		(renderEvents)="updateRenderEvents($event)">
		</ValueChart>
	</div>
</div>