<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown" id="alternatives-menu">
					<button class="btn dropdown-toggle" type="button" id="alternatives-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					Alternatives
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="alternatives-dropdown">
						<li class="dropdown dropdown-submenu">
							<a href="javascript:void(0)"
								type="button" id="alternative-sort-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Sort Alternatives
							</a>
							<ul class="dropdown-menu " aria-labelledby="alternative-sort-dropdown">
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(SortAlternativesType.ByObjectiveScore)">
										Objective Score
										<span *ngIf="config.sortAlternatives === SortAlternativesType.ByObjectiveScore" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(SortAlternativesType.Alphabetically)">
										Alphabetically
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(SortAlternativesType.Manually)">
										Manually
										<span *ngIf="config.sortAlternatives === SortAlternativesType.Manually" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="toggleSortAlternatives(SortAlternativesType.Default)">
										Reset Order
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group valuechart-toolbar-group pull-right">
				<div class="dropdown" id="objectives-menu">
					<button class="btn dropdown-toggle" type="button" id="objectives-dropdown" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true">
					Objectives
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="objectives-dropdown">
						<li class="dropdown dropdown-submenu" *ngIf="interactive">
							<a href="javascript:void(0)" id="pump-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Pump Weights
							</a>
							<ul class="dropdown-menu" aria-labelledby="pump-dropdown">
								<li>
									<a href="javascript:void(0)" (click)="setPumpType(PumpType.Increase)">
										Inflate
										<span *ngIf="config.pumpWeights === PumpType.Increase" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="setPumpType(PumpType.Decrease)">
										Deflate
										<span *ngIf="config.pumpWeights === PumpType.Decrease" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li class="dropdown dropdown-submenu" *ngIf="interactive">
							<a href="javascript:void(0)" id="weightResizeType-dropdown" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="true">
								Weight Resize Strategy
							</a>
							<ul class="dropdown-menu" aria-labelledby="weightResizeType-dropdown">
								<li [class.disabled]="config.weightResizeType === WeightResizeType.Neighbors">
									<a href="javascript:void(0)" (click)="setWeightResizeType(WeightResizeType.Neighbors)">
										Adjacent Only
										<span *ngIf="config.weightResizeType === WeightResizeType.Neighbors" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
								<li [class.disabled]="config.weightResizeType === SortAlternativesType.Siblings">
									<a href="javascript:void(0)" (click)="setWeightResizeType(SortAlternativesType.Siblings)">
										All
										<span *ngIf="config.weightResizeType === SortAlternativesType.Siblings" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="toggleReorderObjectives(!config.reorderObjectives)">
								Reorder Objectives
								<span *ngIf="config.reorderObjectives" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="toggleSetObjectiveColors(!config.setObjectiveColors)">
								Set Objective Colors
								<span *ngIf="config.setObjectiveColors" class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
